.todo-header{
    background:linear-gradient(#eefcb2,#C1FFD7);
    padding: 5%;
    padding-bottom: 9%;

}
.add-todo{
    
    background-color: white;
    padding: 1%;
    margin-top: -4%;
    
    padding-bottom: 2%;

}












 
